body {
  background-color: #130f1c;
}

div {
  margin: 30px;
}

.App {
  text-align: center;
  color: white;
}

.App select, .App button, .percentageReadout {
  font-size: 30px;
}

.header {
  font-size: 30px
}